.PlayerList {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: auto auto auto auto;
  margin: 50px;
}

@media screen and (max-width: 1600px) {
  .PlayerList {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 900px) {
  .PlayerList {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 567px) {
  .PlayerList {
    grid-template-columns: auto;
  }
}
